ACALabelXToolbox/ACALabelXServer.config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="system.runtime.remoting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="application">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="service">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="wellknown">
                            <xs:complexType>
                              <xs:attribute name="mode" type="xs:string" use="required" />
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="objectUri" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="channels">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="channel">
                            <xs:complexType>
                              <xs:attribute name="address" type="xs:string" use="required" />
                              <xs:attribute name="ref" type="xs:string" use="required" />
                              <xs:attribute name="port" type="xs:unsignedShort" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="general-settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="folders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PrintJobsRootFolder" type="xs:string" />
                    <xs:element name="LabelDefinitionsRootFolder" type="xs:string" />
                    <xs:element name="PaperDefinitionsRootFolder" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>